# WEB SCRAPING – ASSIGNMENT 2

 ! pip install selenium

In [2]:
import selenium
print(selenium.__version__)

4.15.2

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import warnings
warnings.filterwarnings ('ignore')
import time

In [69]:
driver=webdriver.Chrome()

In [70]:
driver.get('https://www.shine.com/')

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data

In [ ]:
#preAdvanceSearch=driver.find_element(By.XPATH,'')
#preAdvanceSearch.click()

In [59]:
designation=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul[1]/li[1]/div/input")

In [60]:
designation.send_keys('Data Analyst')

In [148]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul[1]/li[2]/div/input")

In [149]:
location.send_keys('Banglore')

In [150]:
exp=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul[1]/li[3]/div/input[1]")
exp.send_keys('3 year')

In [151]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div")
search.click()

In [152]:
company_1=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[2]/div/ul/li[1]/button')
company_1.click()

In [153]:
company_2=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[2]/div/ul/li[2]/button')
company_2.click()

In [154]:
company_3=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[2]/div/ul/li[3]/button')
company_3.click()

In [155]:
company_4=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[2]/div/ul/li[4]/button')
company_4.click()

In [176]:
job_title=[]
job_location=[]
comapany_name=[]
experience_required=[]

title_tag=driver.find_elements(By.XPATH,'//div[@class="parentClass position-relative"]/div/div/div/h2/a')
for i in title_tag:
    titles=i.text
    job_title.append(titles)
    
job_located=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for j in job_located:
    locations=j.text
    job_location.append(locations)
    
whats_company=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for k in whats_company:
    names_comp=k.text
    comapany_name.append(names_comp)
    
req_exp=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for m in req_exp:
    experiences=m.text
    experience_required.append(experiences)

In [177]:
print (len(experience_required))

20

In [174]:
print(len(comapany_name))

20

In [167]:
print(len(job_title))

20

In [169]:
print(len(job_location))

20

In [181]:
import pandas as pd
df1=pd.DataFrame({'Name of Job':job_title, 'Location of Job':job_location,'Name of Company':comapany_name, 'Required Experience':experience_required})
df1

,Name of Job,Location of Job,Name of Company,Required Experience
0,Data Analyst,Bangalore,infosys limited,4 to 6 Yrs
1,Data Engineer,Bangalore,infosys limited,0 to 2 Yrs
2,Digital Technology Analyst,Bangalore,ntt global delivery services limite...,0 to 4 Yrs
3,"ML Data Associate II, Support Operations",Bangalore,amazon,0 to 4 Yrs
4,Industry Consulting Snr. Consultant,Bangalore,ntt global delivery services limite...,10 to 12 Yrs
5,Project Program Management Advisor,Bangalore,ntt global delivery services limite...,0 to 4 Yrs
6,Business Intelligence Senior Analyst,Bangalore,ntt global delivery services limite...,1 to 3 Yrs
7,Business Analyst,Bangalore,ntt global delivery services limite...,3 to 5 Yrs
8,"Financial Analyst I, FinOps FP&A",Bangalore,amazon,0 to 4 Yrs
9,"Production Planning Analyst, Supply Chain",Bangalore,amazon,0 to 4 Yrs
10,IT Testing,Bangalore,infosys limited,2 to 5 Yrs
11,"Data Engineer II, Amazon WFM Tech Enterprise Data",Bangalore,amazon,3 to 5 Yrs
12,PySpark Data Platform Engineer,Bangalore,accenture,1 to 6 Yrs
13,DPM Prod Support Lead,Bangalore,ntt global delivery services limite...,1 to 3 Yrs
14,Business Operations Senior Associate,Bangalore,ntt global delivery services limite...,0 to 2 Yrs
15,"SQL, Postgresql, Snowflake, Oracle, Tableau - ...",Bangalore,ntt global delivery services limite...,5 to 6 Yrs
16,Product Mgmt. Engineering Director,Bangalore,ntt global delivery services limite...,2 to 4 Yrs
17,"Sr. Quality Analyst, Prime Video",Bangalore,amazon,5 to 7 Yrs
18,"Quality Analyst, Prime Video",Bangalore,amazon,2 to 4 Yrs
19,Pharmacovigilance Services Analyst - Foreign L...,Bangalore,accenture,3 to 5 Yrs

# Q2:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.This task will be done in following steps:

In [10]:
designation_1=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul[1]/li[1]/div/input")

In [11]:
designation_1.send_keys('Data Scientist')

In [12]:
location_1=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul[1]/li[2]/div/input")

In [13]:
location_1.send_keys('Banglore')

In [14]:
search_1=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div")
search_1.click()

In [41]:
position_data=[]
location_posted=[]
company_data=[]

data_Designation=driver.find_elements(By.XPATH,'//div[@class="jsrp_jsrp_leftPanel_wrap__xHjDr jsrp_leftPanel_wrap"]/div/div/div/div/h2/a')
for x in data_Designation:
    final_position=x.text
    position_data.append(final_position)

    
location_office=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for y in location_office:
    office_locations=y.text
    location_posted.append(office_locations)
    
    #//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]

    
nameOfcompany=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for z in nameOfcompany:
    nameCompany=z.text
    company_data.append(nameCompany)

In [23]:
print(len(location_posted))

20

In [28]:
print(len(position_data))

20

In [24]:
print(len(company_data))

20

In [42]:
df2=pd.DataFrame({"JOB-TITLE":position_data, "JOB-LOCATION":location_posted, "COMPANY-NAME":company_data})
df2

,JOB-TITLE,JOB-LOCATION,COMPANY-NAME
0,Data Scientist Vacancy,Oman\n+14,divya interprises
1,Data Scientist Urgent Recruitment,Oman\n+14,divya interprises
2,Data Scientist- Bangalore,Bangalore,the fashion cosmo
3,Data Scientist AI ML CV,Bangalore,bosch group
4,Data Scientist AI ML NLP,Bangalore,bosch group
5,Data Scientist-Bangalore,Bangalore,shiva hr services
6,Phd Data Scientist,Bangalore,bosch group
7,Hiring For Data Scientist,Oman\n+14,divya interprises
8,Data Scientist,Bangalore,racanaa energy solution private lim...
9,Staff Data Scientist & Team Lead,Bangalore,true caller
10,Data scientist,Gurugram\n+8,capgemini technology services india...
11,Data Scientist Associate Sr - NLP,Bangalore,jpmorgan
12,Data Scientist - Bangalore,Bangalore,deuglo infosystem private limited
13,Data Scientist,Bangalore,siemens limited
14,Data Scientist,Bangalore\n+1,mnr solutions pvt ltd
15,Data Scientist,Bangalore,bosch group
16,Data Scientist,Mumbai City\n+6,mnr solutions pvt ltd
17,Urgently need Data Scientist_Bangalore,Bangalore,deuglo infosystem private limited
18,Data scientist Drivetrain,Bangalore,mercede
19,Needed for the post Data Scientist_Bangalore,Bangalore,deuglo infosystem private limited

# Q3: In this question you have to scrape data using the filters available on the webpageYou have to use the location and salary filter.You have to scrape data for “Data Scientist” designation for first 10 job results.You have to scrape the job-title, job-location, company name, experience required.The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [4]:
driver3=webdriver.Chrome()

In [5]:
driver3.get('https://www.shine.com/')

In [7]:
preSearch=driver3.find_element(By.CLASS_NAME,"iconH-zoom-white")

In [8]:
preSearch.click()

In [9]:
advSearch=driver3.find_element(By.XPATH,'//div[@class="searchForm_btnWrap_advance__VYBHN"]/p/button')
advSearch.click()

In [10]:
search_scientist=driver3.find_element(By.ID,"id_q")
search_scientist.send_keys('Data Scientist')

In [12]:
preSearch=driver3.find_element(By.XPATH,'//div[@class="searchForm_btnWrap_advance__VYBHN"]/button')

In [13]:
preSearch.click()

In [14]:
from selenium.webdriver.support.ui import Select

In [33]:
filter_location=driver3.find_element(By.XPATH,'//div[@class="filter_filter_lists_wrap__xOLYG"]/ul/li/button')

In [34]:
filter_location.click()

In [53]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [17]:
selection_dropdown_location=driver3.find_element(By.ID,'filter_jFLoc_406')

In [ ]:
selection_dropdown_location.click()

In [35]:
location_search_in_pop_up=driver3.find_element(By.ID,'search')

In [36]:
location_search_in_pop_up.send_keys("Delhi")

In [39]:
dellhi_check=driver3.find_element(By.ID,'filter_jFLoc_406')

In [1]:
dellhi_check.select_by_visible_text('Delhi')
#dropdown.select_by_visible_text("Delhi")

NameError: name 'dellhi_check' is not defined

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. ProductDescription
8. Price
The attributes which you have to scrape is ticked marked in the below image.

In [154]:
driver4=webdriver.Chrome()

In [155]:
driver4.get('https://www.flipkart.com/')

In [156]:
searchbox=driver4.find_element(By.CLASS_NAME,'Pke_EE')
searchbox.send_keys('Sunglasses')

In [158]:
searching=driver4.find_element(By.CLASS_NAME,'_2iLD__')
searching.click()

In [160]:
glass_brands=[]
start=0
end=3
for page in range (start,end):
    brandname=driver4.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for m in brandname:
        sunBrands=m.text
        glass_brands.append(sunBrands)

In [161]:
glass_Prices=[]
start=0
end=3
for page in range(start,end):
    pricing=driver4.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for n in pricing:
        gogglePrice=n.text
        glass_Prices.append(gogglePrice)

In [162]:
glass_Discounts=[]
start=0
end=3
for page in range(start,end):
    discounts=driver4.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]/span')
    for p in discounts:
        finalDiscount=p.text
        glass_Discounts.append(finalDiscount)

In [163]:
print(len(glass_Prices))

120

In [164]:
print(len(glass_brands))

120

In [165]:
print(len(glass_Discounts))

120

In [166]:
import pandas as pd
df5=pd.DataFrame=({"Brands":glass_brands,"Final_Price":glass_Prices,"Discounts":glass_Discounts})
df5

{'Brands': ['ROYAL SON',
  'VINCENT CHASE',
  'SRPM',
  'Fastrack',
  'GANSTA',
  'ROADWAY',
  'Fastrack',
  'VINCENT CHASE',
  'Elligator',
  'ROADWAY',
  'Eyewearlabs',
  'VINCENT CHASE',
  'Roadster',
  'Rich Club',
  'ROYAL SON',
  'Roadster',
  'ROYAL SON',
  'Singco India',
  'GANSTA',
  'Roadster',
  'NuVew',
  'ROYAL SON',
  'ROZZETTA CRAFT',
  'METRONAUT',
  'ROADWAY',
  'PIRASO',
  'Singco India',
  'VINCENT CHASE',
  'Elligator',
  'ROADWAY',
  'ROYAL SON',
  'Nicole Miller',
  'PIRASO',
  'Rich Club',
  'VINCENT CHASE',
  'Elligator',
  'VINCENT CHASE',
  'ROYAL SON',
  'Rich Club',
  'PROVOGUE',
  'ROYAL SON',
  'VINCENT CHASE',
  'SRPM',
  'Fastrack',
  'GANSTA',
  'ROADWAY',
  'Fastrack',
  'VINCENT CHASE',
  'Elligator',
  'ROADWAY',
  'Eyewearlabs',
  'VINCENT CHASE',
  'Roadster',
  'Rich Club',
  'ROYAL SON',
  'Roadster',
  'ROYAL SON',
  'Singco India',
  'GANSTA',
  'Roadster',
  'NuVew',
  'ROYAL SON',
  'ROZZETTA CRAFT',
  'METRONAUT',
  'ROADWAY',
  'PIRASO',
  'Singco India',
  'VINCENT CHASE',
  'Elligator',
  'ROADWAY',
  'ROYAL SON',
  'Nicole Miller',
  'PIRASO',
  'Rich Club',
  'VINCENT CHASE',
  'Elligator',
  'VINCENT CHASE',
  'ROYAL SON',
  'Rich Club',
  'PROVOGUE',
  'ROYAL SON',
  'VINCENT CHASE',
  'SRPM',
  'Fastrack',
  'GANSTA',
  'ROADWAY',
  'Fastrack',
  'VINCENT CHASE',
  'Elligator',
  'ROADWAY',
  'Eyewearlabs',
  'VINCENT CHASE',
  'Roadster',
  'Rich Club',
  'ROYAL SON',
  'Roadster',
  'ROYAL SON',
  'Singco India',
  'GANSTA',
  'Roadster',
  'NuVew',
  'ROYAL SON',
  'ROZZETTA CRAFT',
  'METRONAUT',
  'ROADWAY',
  'PIRASO',
  'Singco India',
  'VINCENT CHASE',
  'Elligator',
  'ROADWAY',
  'ROYAL SON',
  'Nicole Miller',
  'PIRASO',
  'Rich Club',
  'VINCENT CHASE',
  'Elligator',
  'VINCENT CHASE',
  'ROYAL SON',
  'Rich Club',
  'PROVOGUE'],
 'Final_Price': ['₹339',
  '₹703',
  '₹149',
  '₹549',
  '₹79',
  '₹199',
  '₹449',
  '₹599',
  '₹149',
  '₹254',
  '₹1,236',
  '₹799',
  '₹199',
  '₹399',
  '₹489',
  '₹199',
  '₹424',
  '₹396',
  '₹79',
  '₹249',
  '₹445',
  '₹424',
  '₹299',
  '₹199',
  '₹242',
  '₹219',
  '₹378',
  '₹719',
  '₹159',
  '₹199',
  '₹339',
  '₹2,499',
  '₹279',
  '₹362',
  '₹449',
  '₹169',
  '₹499',
  '₹489',
  '₹299',
  '₹629',
  '₹339',
  '₹703',
  '₹149',
  '₹549',
  '₹79',
  '₹199',
  '₹449',
  '₹599',
  '₹149',
  '₹254',
  '₹1,236',
  '₹799',
  '₹199',
  '₹399',
  '₹489',
  '₹199',
  '₹424',
  '₹396',
  '₹79',
  '₹249',
  '₹445',
  '₹424',
  '₹299',
  '₹199',
  '₹242',
  '₹219',
  '₹378',
  '₹719',
  '₹159',
  '₹199',
  '₹339',
  '₹2,499',
  '₹279',
  '₹362',
  '₹449',
  '₹169',
  '₹499',
  '₹489',
  '₹299',
  '₹629',
  '₹339',
  '₹703',
  '₹149',
  '₹549',
  '₹79',
  '₹199',
  '₹449',
  '₹599',
  '₹149',
  '₹254',
  '₹1,236',
  '₹799',
  '₹199',
  '₹399',
  '₹489',
  '₹199',
  '₹424',
  '₹396',
  '₹79',
  '₹249',
  '₹445',
  '₹424',
  '₹299',
  '₹199',
  '₹242',
  '₹219',
  '₹378',
  '₹719',
  '₹159',
  '₹199',
  '₹339',
  '₹2,499',
  '₹279',
  '₹362',
  '₹449',
  '₹169',
  '₹499',
  '₹489',
  '₹299',
  '₹629'],
 'Discounts': ['77% off',
  '64% off',
  '88% off',
  '50% off',
  '93% off',
  '84% off',
  '50% off',
  '70% off',
  '75% off',
  '74% off',
  '65% off',
  '60% off',
  '79% off',
  '69% off',
  '75% off',
  '77% off',
  '71% off',
  '80% off',
  '92% off',
  '79% off',
  '72% off',
  '71% off',
  '85% off',
  '84% off',
  '81% off',
  '86% off',
  '84% off',
  '71% off',
  '87% off',
  '80% off',
  '77% off',
  '75% off',
  '89% off',
  '72% off',
  '77% off',
  '83% off',
  '75% off',
  '75% off',
  '70% off',
  '75% off',
  '77% off',
  '64% off',
  '88% off',
  '50% off',
  '93% off',
  '84% off',
  '50% off',
  '70% off',
  '75% off',
  '74% off',
  '65% off',
  '60% off',
  '79% off',
  '69% off',
  '75% off',
  '77% off',
  '71% off',
  '80% off',
  '92% off',
  '79% off',
  '72% off',
  '71% off',
  '85% off',
  '84% off',
  '81% off',
  '86% off',
  '84% off',
  '71% off',
  '87% off',
  '80% off',
  '77% off',
  '75% off',
  '89% off',
  '72% off',
  '77% off',
  '83% off',
  '75% off',
  '75% off',
  '70% off',
  '75% off',
  '77% off',
  '64% off',
  '88% off',
  '50% off',
  '93% off',
  '84% off',
  '50% off',
  '70% off',
  '75% off',
  '74% off',
  '65% off',
  '60% off',
  '79% off',
  '69% off',
  '75% off',
  '77% off',
  '71% off',
  '80% off',
  '92% off',
  '79% off',
  '72% off',
  '71% off',
  '85% off',
  '84% off',
  '81% off',
  '86% off',
  '84% off',
  '71% off',
  '87% off',
  '80% off',
  '77% off',
  '75% off',
  '89% off',
  '72% off',
  '77% off',
  '83% off',
  '75% off',
  '75% off',
  '70% off',
  '75% off']}

In [168]:
sunglass_inFlipkart=pd.DataFrame({"Brands":glass_brands,"Final Price": glass_Prices,"Discounts":glass_Discounts})
print(sunglass_inFlipkart)

TypeError: 'dict' object is not callable

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART

In [16]:
driver5=webdriver.Chrome()
driver5.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZE3ENS&marketplace=FLIPKART&q=iphone+11&store=tyy/4io&srno=s_1_1&otracker=AS_Query_HistoryAutoSuggest_6_0_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_6_0_na_na_na&fm=organic&iid=e30aaa70-fe6e-466c-81d4-993e630ea913.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=nseg9l47e80000001699187524593&qH=f6cdfdaa9f3c23f3")

In [17]:
review=driver5.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[6]/div/a/div/span")
review.click()

In [18]:
rating=[]

start=0
end=10

for page in range(start,end):
    allRating=driver5.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for n in allRating:
        final_rating=n.text
        rating.append(final_rating)

In [19]:
print(len(rating))

100

In [20]:
review_summary=[]

start=0
end=10

for page in range(start,end):
    allreview=driver5.find_elements(By.CLASS_NAME,'_2-N8zT')

    for p in allreview:
        finaly_review=p.text
        review_summary.append(finaly_review)

In [21]:
print(review_summary)

['Highly recommended', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Classy product', 'Terrific', 'Terrific purchase', 'Wonderful', 'Must buy!', 'Fabulous!', 'Highly recommended', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Classy product', 'Terrific', 'Terrific purchase', 'Wonderful', 'Must buy!', 'Fabulous!', 'Highly recommended', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Classy product', 'Terrific', 'Terrific purchase', 'Wonderful', 'Must buy!', 'Fabulous!', 'Highly recommended', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Classy product', 'Terrific', 'Terrific purchase', 'Wonderful', 'Must buy!', 'Fabulous!', 'Highly recommended', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Classy product', 'Terrific', 'Terrific purchase', 'Wonderful', 'Must buy!', 'Fabulous!', 'Highly recommended', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Classy product', 'Terrific', 'Terrific purchase', 'Wonderful', 'Must buy!', 'Fabulous!', 'Highly recommended', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Classy product', 'Terrific', 'Terrific purchase', 'Wonderful', 'Must buy!', 'Fabulous!', 'Highly recommended', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Classy product', 'Terrific', 'Terrific purchase', 'Wonderful', 'Must buy!', 'Fabulous!', 'Highly recommended', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Classy product', 'Terrific', 'Terrific purchase', 'Wonderful', 'Must buy!', 'Fabulous!', 'Highly recommended', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Classy product', 'Terrific', 'Terrific purchase', 'Wonderful', 'Must buy!', 'Fabulous!']

In [22]:
print(len(review_summary))

100

In [23]:
full_review=[]
start=0
end=10

for page in range(start,end):
    review_summary=driver5.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div/div')

    for s in review_summary:
        final_summary=s.text
        full_review.append(final_summary)

In [24]:
print(len(full_review))

100

In [25]:
iPhone=pd.DataFrame=({'Rating':rating,'Reviews':review_summary,'Full-Review':full_review})
print(iPhone)

{'Rating': ['5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5'], 'Reviews': [<selenium.webdriver.remote.webelement.WebElement (session="49191c6e642c8fefe0e6c1f6be60d866", element="835E4E89BEBA364D9D5DC28C5BFA24B7_element_44")>, <selenium.webdriver.remote.webelement.WebElement (session="49191c6e642c8fefe0e6c1f6be60d866", element="835E4E89BEBA364D9D5DC28C5BFA24B7_element_45")>, <selenium.webdriver.remote.webelement.WebElement (session="49191c6e642c8fefe0e6c1f6be60d866", element="835E4E89BEBA364D9D5DC28C5BFA24B7_element_46")>, <selenium.webdriver.remote.webelement.WebElement (session="49191c6e642c8fefe0e6c1f6be60d866", element="835E4E89BEBA364D9D5DC28C5BFA24B7_element_47")>, <selenium.webdriver.remote.webelement.WebElement (session="49191c6e642c8fefe0e6c1f6be60d866", element="835E4E89BEBA364D9D5DC28C5BFA24B7_element_48")>, <selenium.webdriver.remote.webelement.WebElement (session="49191c6e642c8fefe0e6c1f6be60d866", element="835E4E89BEBA364D9D5DC28C5BFA24B7_element_49")>, <selenium.webdriver.remote.webelement.WebElement (session="49191c6e642c8fefe0e6c1f6be60d866", element="835E4E89BEBA364D9D5DC28C5BFA24B7_element_50")>, <selenium.webdriver.remote.webelement.WebElement (session="49191c6e642c8fefe0e6c1f6be60d866", element="835E4E89BEBA364D9D5DC28C5BFA24B7_element_51")>, <selenium.webdriver.remote.webelement.WebElement (session="49191c6e642c8fefe0e6c1f6be60d866", element="835E4E89BEBA364D9D5DC28C5BFA24B7_element_52")>, <selenium.webdriver.remote.webelement.WebElement (session="49191c6e642c8fefe0e6c1f6be60d866", element="835E4E89BEBA364D9D5DC28C5BFA24B7_element_53")>], 'Full-Review': ['Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'Photos super', 'Good Camera', 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!', 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!', 'Very very good', 'Value for money 😍', 'This is amazing at all', 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.', 'Super🔥 and good performance 👌❤️', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'Photos super', 'Good Camera', 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!', 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!', 'Very very good', 'Value for money 😍', 'This is amazing at all', 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.', 'Super🔥 and good performance 👌❤️', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'Photos super', 'Good Camera', 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!', 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!', 'Very very good', 'Value for money 😍', 'This is amazing at all', 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.', 'Super🔥 and good performance 👌❤️', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'Photos super', 'Good Camera', 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!', 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!', 'Very very good', 'Value for money 😍', 'This is amazing at all', 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.', 'Super🔥 and good performance 👌❤️', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'Photos super', 'Good Camera', 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!', 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!', 'Very very good', 'Value for money 😍', 'This is amazing at all', 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.', 'Super🔥 and good performance 👌❤️', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'Photos super', 'Good Camera', 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!', 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!', 'Very very good', 'Value for money 😍', 'This is amazing at all', 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.', 'Super🔥 and good performance 👌❤️', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'Photos super', 'Good Camera', 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!', 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!', 'Very very good', 'Value for money 😍', 'This is amazing at all', 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.', 'Super🔥 and good performance 👌❤️', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'Photos super', 'Good Camera', 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!', 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!', 'Very very good', 'Value for money 😍', 'This is amazing at all', 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.', 'Super🔥 and good performance 👌❤️', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'Photos super', 'Good Camera', 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!', 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!', 'Very very good', 'Value for money 😍', 'This is amazing at all', 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.', 'Super🔥 and good performance 👌❤️', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', 'Photos super', 'Good Camera', 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!', 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!', 'Very very good', 'Value for money 😍', 'This is amazing at all', 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.', 'Super🔥 and good performance 👌❤️']}

In [80]:
iPhone=pd.DataFrame({'Rating':rating,'Reviews':review_summary,'Full-Review':full_review})
print(iPhone)

NameError: name 'rating' is not defined

# Q6: Scrape data forfirst 100 sneakers you find whenyou visit flipkart.com and search for “sneakers” inthe
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [37]:
driver6=webdriver.Chrome()

In [54]:
driver6.get('https://www.flipkart.com/search?q=sneaker&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off')

In [39]:
from selenium.common.exceptions import TimeoutException

In [42]:
url_sneaker=[]
start=0
end=2
for page in range (start,end):
    sneaker_url=driver6.find_elements(By.XPATH,'//div[@class="_2B099V"]/a')
    for urls in sneaker_url:
        all_url=urls.get_attribute('href')
        url_sneaker.append(all_url)

    next_button=driver6.find_elements(By.XPATH, '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')

In [43]:
print (len(url_sneaker))

160

In [44]:
sneaker_description = []

for desc_url in url_sneaker:
    driver6.get(desc_url)
    time.sleep(5)  # You can adjust the sleep time based on your page load times
    try:
        descrip = driver6.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div[1]/h1/span[2]')
        sneaker_details = descrip.text
        sneaker_description.append(sneaker_details)
    except NoSuchElementException:
        sneaker_description.append('not present')

In [45]:
print(len(sneaker_description))

160

In [46]:
print(sneaker_description)

['Combo Pack Of 2 Men’s Casual Shoes Sneakers For Men  (Grey, Blue, White)', 'Combo Pack Of 2 Men’s Casual Shoes Sneakers For Men  (Grey, Blue, White)', '!Combo Pack Of 2 Casual Shoes! Sneakers For Men  (Blue)', '!Combo Pack Of 2 Casual Shoes! Sneakers For Men  (Blue)', 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor|Daily Use Sneakers For Men  (White)', 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor|Daily Use Sneakers For Men  (White)', 'Trending Stylish Casual Outdoor Sneakers Shoes For Men Sneakers For Men  (White, Black)', 'Trending Stylish Casual Outdoor Sneakers Shoes For Men Sneakers For Men  (White, Black)', 'Sneakers For Men  (White)', 'Sneakers For Men  (White)', 'Modern Trendy Shoes Sneakers For Men  (Orange, Grey)', 'Modern Trendy Shoes Sneakers For Men  (Orange, Grey)', 'Impel Sneakers For Men  (Blue)', 'Impel Sneakers For Men  (Blue)', 'Combo_Pack_Of 2 Casual Shoes Sneakers For Men  (Black)', 'Combo_Pack_Of 2 Casual Shoes Sneakers For Men  (Black)', 'Sneakers For Men  (White)', 'Sneakers For Men  (White)', 'Rungryp Sneakers For Men  (Blue)', 'Rungryp Sneakers For Men  (Blue)', 'Combo Pack Of 2 Casual Shoes Sneakers For Men  (Black)', 'Combo Pack Of 2 Casual Shoes Sneakers For Men  (Black)', 'Combo Pack Of 2 Casual Shoes Sneakers For Men  (Black)', 'Combo Pack Of 2 Casual Shoes Sneakers For Men  (Black)', 'Sneakers For Men  (White)', 'Sneakers For Men  (White)', 'Hustle V2 Sneakers For Men  (Black)', 'Hustle V2 Sneakers For Men  (Black)', 'CLARKIN Sneakers For Men  (Off White)', 'CLARKIN Sneakers For Men  (Off White)', 'Sneakers For Men  (White)', 'Sneakers For Men  (White)', 'Combo Pack Of 2 Casual Shoes Sneakers For Men Sneakers For Men  (Black)', 'Combo Pack Of 2 Casual Shoes Sneakers For Men Sneakers For Men  (Black)', 'Combo Pack Of 2 Casual Shoes Sneakers For Men  (Blue)', 'Combo Pack Of 2 Casual Shoes Sneakers For Men  (Blue)', 'MOORE 3.0 Sneakers For Men  (Off White)', 'MOORE 3.0 Sneakers For Men  (Off White)', 'Buzz Sneakers For Men  (White)', 'Buzz Sneakers For Men  (White)', 'Sneakers For Men  (White)', 'Sneakers For Men  (White)', '2 Combo Sneaker Shoes Sneakers For Men  (Grey, Black)', '2 Combo Sneaker Shoes Sneakers For Men  (Grey, Black)', 'Sneakers For Women  (White)', 'Sneakers For Women  (White)', 'Downshifter 11 Sneakers For Men  (Blue)', 'Downshifter 11 Sneakers For Men  (Blue)', 'Sneakers For Women  (White)', 'Sneakers For Women  (White)', 'Casual Sneakers ColourFul Block Shoes For Boys And Men Sneakers For Men  (Brown, White)', 'Casual Sneakers ColourFul Block Shoes For Boys And Men Sneakers For Men  (Brown, White)', 'Sneakers For Men  (White)', 'Sneakers For Men  (White)', '2 Combo Sneaker Shoes Sneakers For Men  (Blue, Black)', '2 Combo Sneaker Shoes Sneakers For Men  (Blue, Black)', 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, Slip-Resistance Sneakers For Men  (White)', 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, Slip-Resistance Sneakers For Men  (White)', 'Sneakers For Men  (White)', 'Sneakers For Men  (White)', 'Combo Pack of 2 Trendy & Stylish Casual Shoes Sneakers For Men  (White, Grey)', 'Combo Pack of 2 Trendy & Stylish Casual Shoes Sneakers For Men  (White, Grey)', 'Combo pack of 2 Sneakers for Shoes Sneakers For Men  (Blue, Grey)', 'Combo pack of 2 Sneakers for Shoes Sneakers For Men  (Blue, Grey)', 'Sneakers For Men  (Black, Yellow)', 'Sneakers For Men  (Black, Yellow)', 'Premium Casual Shoes for Women Sneakers For Women  (Pink)', 'Premium Casual Shoes for Women Sneakers For Women  (Pink)', 'X-Ray Speed Sneakers For Men  (Blue, White)', 'X-Ray Speed Sneakers For Men  (Blue, White)', 'Zod Runner V3 Sneakers For Men  (Green)', 'Zod Runner V3 Sneakers For Men  (Green)', 'Sneakers For Men  (Black)', 'Sneakers For Men  (Black)', 'Modern Trendy Sneakers boot Sneakers For Men Sneakers For Men  (Blue)', 'Modern Trendy Sneakers boot Sneakers For Men Sneakers For Men  (Blue)', 'Sneakers For Men  (Black)', 'Sneakers For Men  (Black)', 'Sneakers For Men  (Black)', 'Sneakers For Men  (Black)', 'Combo Pack Of 2 Men’s Casual Shoes Sneakers For Men  (Grey, Blue, White)', 'Combo Pack Of 2 Men’s Casual Shoes Sneakers For Men  (Grey, Blue, White)', '!Combo Pack Of 2 Casual Shoes! Sneakers For Men  (Blue)', '!Combo Pack Of 2 Casual Shoes! Sneakers For Men  (Blue)', 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor|Daily Use Sneakers For Men  (White)', 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor|Daily Use Sneakers For Men  (White)', 'Trending Stylish Casual Outdoor Sneakers Shoes For Men Sneakers For Men  (White, Black)', 'Trending Stylish Casual Outdoor Sneakers Shoes For Men Sneakers For Men  (White, Black)', 'Sneakers For Men  (White)', 'Sneakers For Men  (White)', 'Modern Trendy Shoes Sneakers For Men  (Orange, Grey)', 'Modern Trendy Shoes Sneakers For Men  (Orange, Grey)', 'Impel Sneakers For Men  (Blue)', 'Impel Sneakers For Men  (Blue)', 'Combo_Pack_Of 2 Casual Shoes Sneakers For Men  (Black)', 'Combo_Pack_Of 2 Casual Shoes Sneakers For Men  (Black)', 'Sneakers For Men  (White)', 'Sneakers For Men  (White)', 'Rungryp Sneakers For Men  (Blue)', 'Rungryp Sneakers For Men  (Blue)', 'Combo Pack Of 2 Casual Shoes Sneakers For Men  (Black)', 'Combo Pack Of 2 Casual Shoes Sneakers For Men  (Black)', 'Combo Pack Of 2 Casual Shoes Sneakers For Men  (Black)', 'Combo Pack Of 2 Casual Shoes Sneakers For Men  (Black)', 'Sneakers For Men  (White)', 'Sneakers For Men  (White)', 'Hustle V2 Sneakers For Men  (Black)', 'Hustle V2 Sneakers For Men  (Black)', 'CLARKIN Sneakers For Men  (Off White)', 'CLARKIN Sneakers For Men  (Off White)', 'Sneakers For Men  (White)', 'Sneakers For Men  (White)', 'Combo Pack Of 2 Casual Shoes Sneakers For Men Sneakers For Men  (Black)', 'Combo Pack Of 2 Casual Shoes Sneakers For Men Sneakers For Men  (Black)', 'Combo Pack Of 2 Casual Shoes Sneakers For Men  (Blue)', 'Combo Pack Of 2 Casual Shoes Sneakers For Men  (Blue)', 'MOORE 3.0 Sneakers For Men  (Off White)', 'MOORE 3.0 Sneakers For Men  (Off White)', 'Buzz Sneakers For Men  (White)', 'Buzz Sneakers For Men  (White)', 'Sneakers For Men  (White)', 'Sneakers For Men  (White)', '2 Combo Sneaker Shoes Sneakers For Men  (Grey, Black)', '2 Combo Sneaker Shoes Sneakers For Men  (Grey, Black)', 'Sneakers For Women  (White)', 'Sneakers For Women  (White)', 'Downshifter 11 Sneakers For Men  (Blue)', 'Downshifter 11 Sneakers For Men  (Blue)', 'Sneakers For Women  (White)', 'Sneakers For Women  (White)', 'Casual Sneakers ColourFul Block Shoes For Boys And Men Sneakers For Men  (Brown, White)', 'Casual Sneakers ColourFul Block Shoes For Boys And Men Sneakers For Men  (Brown, White)', 'Sneakers For Men  (White)', 'Sneakers For Men  (White)', '2 Combo Sneaker Shoes Sneakers For Men  (Blue, Black)', '2 Combo Sneaker Shoes Sneakers For Men  (Blue, Black)', 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, Slip-Resistance Sneakers For Men  (White)', 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, Slip-Resistance Sneakers For Men  (White)', 'Sneakers For Men  (White)', 'Sneakers For Men  (White)', 'Combo Pack of 2 Trendy & Stylish Casual Shoes Sneakers For Men  (White, Grey)', 'Combo Pack of 2 Trendy & Stylish Casual Shoes Sneakers For Men  (White, Grey)', 'Combo pack of 2 Sneakers for Shoes Sneakers For Men  (Blue, Grey)', 'Combo pack of 2 Sneakers for Shoes Sneakers For Men  (Blue, Grey)', 'Sneakers For Men  (Black, Yellow)', 'Sneakers For Men  (Black, Yellow)', 'Premium Casual Shoes for Women Sneakers For Women  (Pink)', 'Premium Casual Shoes for Women Sneakers For Women  (Pink)', 'X-Ray Speed Sneakers For Men  (Blue, White)', 'X-Ray Speed Sneakers For Men  (Blue, White)', 'Zod Runner V3 Sneakers For Men  (Green)', 'Zod Runner V3 Sneakers For Men  (Green)', 'Sneakers For Men  (Black)', 'Sneakers For Men  (Black)', 'Modern Trendy Sneakers boot Sneakers For Men Sneakers For Men  (Blue)', 'Modern Trendy Sneakers boot Sneakers For Men Sneakers For Men  (Blue)', 'Sneakers For Men  (Black)', 'Sneakers For Men  (Black)', 'Sneakers For Men  (Black)', 'Sneakers For Men  (Black)']

In [61]:
brand=[]
start=0
end=4
for page in range(start,end):
    all_brands=driver6.find_elements(By.CLASS_NAME,'_2WkVRV')
    for b in all_brands:
        latest_brands=b.text
        brand.append(latest_brands)

In [62]:
print(len(brand))

160

# Note: In Below code: we limit for only 160 item by implementing 'if' condition

In [76]:
price_sneaker=[]
start=0
end=4
for page in range(start,end):
    all_prices=driver6.find_elements(By.CLASS_NAME,'_30jeq3')
    for cd in all_prices[:160]:
        latest_price=cd.text
        price_sneaker.append(latest_price)
        if len(price_sneaker) >= 160:
            break

In [77]:
print(len(price_sneaker))

160

In [65]:
sneakers=pd.DataFrame({'BRANDS':brand, 'DESCRIPTION':sneaker_description})
sneakers

                BRANDS                                        DESCRIPTION
0               BRUTON  Combo Pack Of 2 Men’s Casual Shoes Sneakers Fo...
1               BRUTON  Combo Pack Of 2 Men’s Casual Shoes Sneakers Fo...
2                 aadi  !Combo Pack Of 2 Casual Shoes! Sneakers For Me...
3             URBANBOX  !Combo Pack Of 2 Casual Shoes! Sneakers For Me...
4               Layasa  Synthetic Leather |Lightweight|Comfort|Summer|...
..                 ...                                                ...
155               PUMA  Modern Trendy Sneakers boot Sneakers For Men S...
156       K- FOOTLANCE                          Sneakers For Men  (Black)
157  SOLETHREADS REBEL                          Sneakers For Men  (Black)
158           Nobelite                          Sneakers For Men  (Black)
159               ATOM                          Sneakers For Men  (Black)

[160 rows x 2 columns]

In [78]:
sneakers_new=pd.DataFrame({'BRANDS':brand, 'DESCRIPTION':sneaker_description,'PRICE':price_sneaker})
sneakers_new

,BRANDS,DESCRIPTION,PRICE
0,BRUTON,Combo Pack Of 2 Men’s Casual Shoes Sneakers Fo...,₹497
1,BRUTON,Combo Pack Of 2 Men’s Casual Shoes Sneakers Fo...,₹497
2,aadi,!Combo Pack Of 2 Casual Shoes! Sneakers For Me...,₹289
3,URBANBOX,!Combo Pack Of 2 Casual Shoes! Sneakers For Me...,₹299
4,Layasa,Synthetic Leather |Lightweight|Comfort|Summer|...,₹296
...,...,...,...
155,PUMA,Modern Trendy Sneakers boot Sneakers For Men S...,₹299
156,K- FOOTLANCE,Sneakers For Men (Black),₹499
157,SOLETHREADS REBEL,Sneakers For Men (Black),₹497
158,Nobelite,Sneakers For Men (Black),₹497
159,ATOM,Sneakers For Men (Black),₹349

In [79]:
driver6.quit()

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:
Title, Rating And Price

In [82]:
driver7=webdriver.Chrome()

In [105]:
driver7.get('https://www.amazon.in/')

In [106]:
search_lap=driver7.find_element(By.ID,"twotabsearchtextbox")
search_lap.send_keys('laptop')

In [107]:
search_lap_start=driver7.find_element(By.ID,"nav-search-submit-button")
search_lap_start.click()

In [101]:
#see_more_cpu=driver7.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[9]/li/span/div/a/span')
#driver7.execute_script("arguments[0].scrollIntoView(true);", see_more_cpu)
#see_more_cpu.click()

#see_more_cpu=WebDriverWait(driver7, 10).until(EC.element_to_be_clickable((By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[9]/li/span/div/a/span')))
#see_more_cpu.click()

In [ ]:
#element = WebDriverWait(driver, 10).until(
    #EC.element_to_be_clickable((By.ID, "element_id"))

In [108]:
WebDriverWait(driver7, 10).until(EC.presence_of_element_located((By.XPATH, '//span[@class="a-price-whole"]')))

In [110]:
cpu_filter = driver7.find_element(By.XPATH, '//span[text()="Intel Core i7"]')

In [112]:
from selenium.webdriver.common.action_chains import ActionChains

In [113]:
ActionChains(driver7).move_to_element(cpu_filter).click().perform()

In [115]:
WebDriverWait(driver7, 10).until(EC.presence_of_element_located((By.XPATH, '//span[@class="a-price-whole"]')))

In [116]:
title_lap=[]
laptopName=driver7.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for l in laptopName:
    brand_laptop=l.text
    title_lap.append(brand_laptop)

In [117]:
print(len(title_lap))

24

In [119]:
price_lap=[]
laptopPrice=driver7.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for p in laptopPrice:
    price_laptop=p.text
    price_lap.append(price_laptop)

In [120]:
print(len(price_lap))

24

In [127]:
rate_lap=[]
ratinglaptop=driver7.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for r in ratinglaptop:
    laptopRatings=r.text
    rate_lap.append(laptopRatings)
    if len(rate_lap) >= 24:
            break

In [128]:
print(len(rate_lap))

24

In [129]:
laptops=pd.DataFrame({'Title':title_lap, 'Price':price_lap, 'Ratings':rate_lap})
laptops

                                                Title     Price Ratings
0   HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...    63,990      20
1   Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...    52,990      59
2   ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...    60,990     330
3   Dell Inspiron 5430 Laptop, Intel Core i7-1360P...    84,990      46
4   ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...    68,990      51
5   HP Victus Gaming Laptop, 12th Gen Intel Core i...    84,990      10
6   MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...    49,990      23
7   ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...  1,04,990      86
8   MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...    57,990     150
9   Acer Aspire Lite Premium Metal Laptop 11th Gen...    47,990     174
10  ASUS Creator Series Vivobook 14X OLED (2023), ...    79,990      16
11  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...    64,990      96
12  Fujitsu CH 13th Gen Intel Core i7 13.3 inch(33...    84,990       1
13  Acer Predator Helios Neo 16 Gaming Laptop 13th...  1,09,990     124
14  MSI Thin GF63, Intel 12th Gen. i7-12650H, 40CM...    84,990      13
15  Samsung [SmartChoice] Galaxy Book2 (NP750) Int...    74,990     161
16  Samsung Galaxy Book3 Core i7 13th Gen 1355U - ...    84,390      28
17  Acer Aspire 5 Gaming Laptop Intel Core i7 13th...    67,990     790
18  HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB...    89,999     679
19  Dell XPS 9530, Intel Evo Platform Powered by I...  2,78,290       1
20  HP Pavilion 15, 13th Gen Intel Core i7-1360P, ...    88,990      13
21  (Refurbished) HP EliteBook x360 1030 G4 13.3-I...    41,499       9
22  ASUS Creator Series Vivobook 16X (2023), Intel...  1,04,990       3
23  ASUS Zenbook 14 Flip OLED (2023), Intel Core E...  1,29,990       2

In [130]:
driver7.quit()

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [131]:
driver8=webdriver.Chrome()

In [132]:
driver8.get('https://www.azquotes.com/')

In [133]:
top_quotes=driver8.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes.click()

In [134]:
quotes=[]
start=0
end=10
for page in range(start,end):
    myquotes=driver8.find_elements(By.XPATH,'//div[@class="wrap-block"]/p/a[2]')
    for m in myquotes:
        onlyQuotes=m.text
        quotes.append(onlyQuotes)

In [135]:
print(len(quotes))

1000

In [139]:
authors=[]
start=0
end=10
for page in range(start,end):
    authorsOnly=driver8.find_elements(By.XPATH,'//div[@class="author"]')
    for a in authorsOnly:
        nameAuthor=a.text
        authors.append(nameAuthor)

In [140]:
print(len(authors))

1000

In [141]:
typeQuotes=[]
start=0
end=10
for page in range(start,end):
    quotesOnly=driver8.find_elements(By.XPATH,'//div[@class="tags"]')
    for q in quotesOnly:
        myQuotes=q.text
        typeQuotes.append(myQuotes)

In [142]:
print(len(typeQuotes))

1000

In [143]:
azquotes=pd.DataFrame({'QUOTES':quotes, 'AUTHOR-NAME':authors, 'QUOTES-TYPES':typeQuotes})
azquotes

,QUOTES,AUTHOR-NAME,QUOTES-TYPES
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [144]:
driver8.quit()

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [146]:
driver9=webdriver.Chrome()

In [148]:
driver9.get('https://www.jagranjosh.com/')

In [152]:
gk=driver9.find_element(By.XPATH,'//div[@class="Header_topNav__NnKZp"]/ul/li[6]/a')
gk.click()

In [153]:
pm_list=driver9.find_element(By.XPATH,'/html/body/div[2]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pm_list.click()